<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="shiroEhcacheManager"/>
    </bean>



    <!--&lt;!&ndash; 項目自定义的Realm &ndash;&gt;-->
    <bean id="shiroDbRealm" class="com.jack.security.shiro.ShiroDbRealm" >
        <property name="securityUserService" ref="securityUserService"/>
        <property name="securityUserRoleService" ref="securityUserRoleService"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/management/index"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="baseFormAuthenticationFilter"/>
                <!-- 是否启用验证码检验 -->
                <!--<entry key="authc" value-ref="captchaFormAuthenticationFilter"/>-->
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /resources/captcha.png=anon
                /styles/** = anon
                /proton/** = anon
                /file/** = anon
                /checkName = anon
                <!--/upload/** = anon-->
                <!--/login/timeout = anon-->
                <!--/front/nonames/** = anon-->
                /front/** = anon
                <!--/front/price/** = anon-->
                /marco=anon
                /js/marco=anon
                /login = authc
                /index = anon
                /common/index = anon
                /logout = logout
                /echo.ws=anon
                /** = user
            </value>
        </property>
    </bean>

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="baseFormAuthenticationFilter" class="com.jack.security.shiro.BaseFormAuthenticationFilter">
        <property name="securityUserService" ref="securityUserService"/>
    </bean>


</beans>